// fonts
@import url("http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700,400italic,700italic|Krona+One")
$serif: 'Droid Serif', Georgia, serif
$sans: 'Droid Sans', Helvetica Neue, sans-serif
$font: 'Krona One', sans-serif

// lengths
$site-width: 700px
$site-width-half: 350px
$footer-height: 100px

// color
$black: #3E3F43
$blue: #379ABC
$red: #D55359
$grey: #CDCDD1
$white: #fff
